body {
    font-family: Arial, sans-serif;
    background-color: #fdfdd0;
    margin: 0;
    padding: 0;
    width: 859px;
    height: 1208px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

.menu, .cart {
    margin: 20px 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    background: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 18%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 320px;
}

.menu-item img {
    width: 150px; 
    height: 150px;
    object-fit: contain; 
}

.menu-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.menu-item p {
    font-size: 1em;
    margin: 5px 0;
}

.menu-item button {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item button:hover {
    background-color: #45a049;
}

.cart {
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cart .total {
    text-align: right;
    margin-top: 10px;
    font-size: 1.5em;
}

.cart button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: auto;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.confirmation-details {
    margin-bottom: 20px;
    text-align: center;
}

#order-summary {
    background-color: #e6ffe6;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.total-price-box {
    background-color: #99cc99;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: right;
}

.total-price-box p {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.menu-items p {
    margin: 5px 0;
    font-size: 1.2em;
}

.total-price {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-content button {
    width: 300px;
    padding: 20px;
    margin: 10px;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #45a049;
}

.modal-content .cancel-button {
    background-color: #f44336;
}

.modal-content .cancel-button:hover {
    background-color: #e53935;
}

.close {
    color: #aaa;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.start-button, .menu-button {
    width: 200px;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart button {
    width: 140px;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.start-button:hover, .menu-button:hover, .cart button:hover {
    background-color: #45a049;
}

.menu-button.active {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.subcategory-button {
    width: 150px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.subcategory-button:hover {
    background-color: #45a049;
}

.subcategory-button.active {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.quantity-control button {
    background: #ddd; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-control button:first-child:hover,
.quantity-control button:first-child:active {
    background: #f44336; 
    color: white;
}

.quantity-control span {
    margin: 0 10px;
}

.pagination {
    margin: 20px 0;
}

.pagination button {
    padding: 10px;
    font-size: 16px;
}

.receipt {
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    margin: auto;
    text-align: left;
}

.receipt h2 {
    text-align: center;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    background: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-control span {
    margin: 0 10px;
}

.full-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.payment-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.payment-button {
    width: 80%;
    padding: 40px;
    font-size: 2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.payment-button img.icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    filter: invert(1);
}

.payment-button:hover {
    background-color: #45a049;
}

/* 여기부터 친절한 메뉴판 */
.friendly #category-buttons .menu-button {
    width: 250px; 
    padding: 20px; 
    font-size: 2.0em; 
}

.friendly #subcategory-buttons .subcategory-button {
    width: 180px; 
    padding: 20px; 
    font-size: 1.5em; 
}

.friendly .menu-item {
    width: 40%; 
    height: auto; 
    padding: 20px;
    font-size: 1.5em;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.friendly .menu-item img {
    width: 200px; 
    height: 200px;
    margin-bottom: 20px; 
}

.friendly .menu-item h3 {
    font-size: 1.6em;
    margin-bottom: 10px; 
}

.friendly .menu-item p {
    font-size: 1.5em; 
    margin-bottom: 10px; 
}

.friendly .menu-item button {
    width: 100%;
    padding: 20px;
    font-size: 1.5em; 
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    cursor: pointer; 
}


.friendly .cart {
    font-size: 1.6em;
}

.friendly .cart button#checkout-button {
    white-space: nowrap; 
    font-size: 1.8em; 
    padding: 20px 40px; 
    width: auto;
    max-width: 100%;
    margin-top: 20px;
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.friendly .cart button#checkout-button:hover {
    background-color: #45a049; 
}

.friendly .cart h2, 
.friendly .cart .total, 
.friendly .cart button {
    font-size: 1.5em; 
}

.friendly .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.friendly .cart-item h3 {
    flex: 1;
    text-align: left;
}

.friendly .cart-item p {
    flex: 1;
    text-align: right;
}