/* 추천 메뉴 영역 스타일 */
#seasonal-recommendation, #voice-recommendation {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#seasonal-recommendation h1, #voice-recommendation h1 {
    font-size: 2em;
    color: #4CAF50;
    margin-bottom: 20px;
}

